body {
    text-align: center;
}

.character-types {
    list-style: none;
    padding: 0;
    width: 75%;
    margin: auto;
}
.character-types li {
    display: inline-block;
    float: left;
    width: calc(100% / 5);
}
